In [ ]:
fname=input("Enter the first name:")
lname=input("Enter the last name:")
print("The name originally is:",fname,lname)
print("The name now is:",lname,fname)

Enter the first name:Aastha
Enter the last name:Mahajan
The name originally is: Aastha Mahajan
The name now is: Mahajan Aastha

In [ ]:
num=int(input("Enter a positive integer"))
sum_num=0
for i in range(1,num+1):
  sum_num+=i*i
print("Sum of squares:",sum_num)

Enter a positive integer4
Sum of squares: 30

In [ ]:
num=int(input("Enter a positive integer:"))
if(num>1):
  for i in range(2,num):
    if (num%i==0):
      print("Not a Prime Number.")
      break
    else:
      print("Prime Number")
else:
  ("The number entered is not a prime number")

Enter a positive integer:3
Prime Number

In [ ]:
color_list=['Red','Green','White','Black']
print(color_list[0])
print(color_list[3])

Red
Black

In [ ]:
lst=input("Enter a list of numbers:")
list=lst.split()
tuple=tuple(list)
print("The list of elements is:",list)
print("The tuple of elements is:",tuple)

Enter a list of numbers:3 4 5 6
The list of elements is: ['3', '4', '5', '6']
The tuple of elements is: ('3', '4', '5', '6')

In [ ]:
val1=int(input("Enter first number:"))
val2=int(input("Enter second number:"))
print("The numbers before swapping are:",val1,val2)
val1,val2=val2,val1
print("The numbers ater swapping are:",val1,val2)

Enter first number:88
Enter second number:56
The numbers before swapping are: 88 56
The numbers ater swapping are: 56 88

In [ ]:
num=int(input("Enter a number:"))
if(num%2==0):
  print("The number is even")
else:
  print("The number is odd")

Enter a number:67
The number is odd

In [ ]:
x1=float(input("Enter the x1 value:"))
x2=float(input("Enter the x2 value:"))
y1=float(input("Enter the y1 value:"))
y2=float(input("Enter the y2 value:"))
euc_distance=((x2-x1)**2+(y2-y1)**2)**0.5
print("The euclidean distance between the two values is:",euc_distance)

Enter the x1 value:56.3
Enter the x2 value:21.1
Enter the y1 value:1.5
Enter the y2 value:34.3
The euclidean distance between the two values is: 48.11319985201566

In [ ]:
angle1=int(input("Enter the first angle:"))
angle2=int(input("Enter the second angle:"))
angle3=int(input("Enter the third angle:"))
if(angle1+angle2+angle3==180 and angle1!=0 and angle2!=0 and angle2!=0):
  print("The angles can form a triangle.")
else:
  print("The angles can't form a triangle.")

Enter the first angle:50
Enter the second angle:80
Enter the third angle:50
The angles can form a triangle.

In [ ]:
princ=float(input("Enter the principlle amount:"))
rate=float(input("Enter the rate amount:"))
time=float(input("Enter the time:"))
amount=princ*(1+(rate/100))**time
comp_interest=amount-princ
print("The compound interest is:",comp_interest)

Enter the principlle amount:56.8
Enter the rate amount:78.4
Enter the time:4.5
The compound interest is: 711.666891011692

In [ ]:
num=int(input("Enter a positive integer:"))
if

In [ ]:
cel_temp=float(input("Enter the temperature in celcius:"))
conver_sion=(cel_temp*9/5)+32
print("The temperature conversion from celcius to fahrenheit is:",conver_sion)

Enter the temperature in celcius:67.6
The temperature conversion from celcius to fahrenheit is: 153.68

In [ ]:
year=int(input("Enter a year:"))
if((year%4==0 and year%100!=0) or(year%400==0)):
  print("The year is a leap year.")
else:
  print("The year is not a leap year.")

In [ ]:
num=input("Enter the number:")
f1=num
f2=num+num
f3=num+num+num
print(f1,f2,f3)

Enter the number:5
5 55 555

In [ ]:
rad=int(input("Enter the radius of circle:"))
print("The area of circle is :",3.14*rad*rad)

Enter the radius of circle:567
The area of circle is : 1009475.4600000001

In [ ]:
print("Twinkle,Twinkle little star,\n How I wonder what you are \n Up above in the world so high,\n like a diamond in the sky!")

Twinkle,Twinkle little star,
 How I wonder what you are
 Up above in the world so high,
 like a diamond in the sky!