In [ ]:
1.L=[11,12,13,14]
L.append(50)
#print(L)
L.append(60)
#print(L)
'''L.remove(11)
print(L)
L.remove(13)
print(L)
L.sort()
print(L)
L.sort(reverse=True)
print(L)
L.index(13)
a=len(L)
print("The number of elements in L is:",a)
a=sum(L)
print("The sum of elements in the list is:",a)
even_sum=0
odd_sum=0
for j in range(len(L[j])):
    if(L[j]%2)==0:
        even_sum+=L[j]

    else:
        odd_sum+=L[j]
print("The sum of even numbers in the list is :",even_sum)
print("The sum of odd numbers in the list is:",odd_sum)
a=L.clear()
print(L)
del(L)
print(L)'''

NameError: name 'L' is not defined

In [ ]:
import random
import string
for i in range(100):
    length = random.randint(6, 8)
    random_string = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
    print(random_string)

oRsPJa
L3raQof0
FXRHiI
OGywG1
4y7fBcf
R9o8dL
M0Hj4bv
pzxRZ0
AS2elQw
va2zE3
C4wyHCZE
jrpip8
DvuLkOC
3qD9kk
tix5V9Pz
KcjBTfV3
W9qOzGD
GUjnEMaP
gZrWp0U4
NpAvWDPG
7wigtFXy
nOLPYuTc
gUWsFR
GmMLbk9H
O1byZ10q
IyoMMW
osxH3Yvu
IinOgL
2FhUrnT
B3TdltW
u5v33mw
85UiNa2g
0VbQGDa
MhPJph
NGqhr3Ax
LdayjbQb
cQQKpNPT
gBr9LQ
P2baaLf
WL6iDVdj
UCxDnV
yaKlar0
paJWFPqf
ChNVZEsF
Hzby9YQ
EY847Wsq
L3zl4O
ti35Uk
C1GhiBGT
aodP2W
na944I4A
SYIUw9
GZQs1e
NukZTQ2
z5VhzG
NLQxX6p3
fFxXWN
6wjqLPQ4
F6tpCsG
GEr3LFv
HAZlBb2e
iiI2gWh
mAtZFw
CtItBpC
kLmM2R
DSNVuwO
mc9GYGq
AIgvzN3d
udkoc7p
1tmgwhpu
vMUwL1
LA3MxBW
S1ED5R
0qetoFR
TDYzxpKg
6DlVmS
yPPURlPL
WfiYMF9O
LGhcPNR
UhkkOc
nigCyn
FrrJnAZk
Iv4ipR
Qjqg9gH2
T1qSdd
d2SftPL
JYWnUZE
USoglh
X6TFk3ye
bKNWVHPf
LdBJeAGl
R8caeZ
vksZoR
JJBRbxM
rgRDqlc
FKpHw1Fr
5SrsFD
hwz8s2o
9yxwlp
Miv5eit7

In [ ]:
start = 600
end = 800

for num in range(start, end + 1):
    if num <= 1:
        continue
    if num == 2:
        print(num)
        continue
    if num % 2 == 0:
        continue
    is_prime = True
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [ ]:

start = 100
end = 1000

# Iterate through the range
for num in range(start, end + 1):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [ ]:
2. lst = [10, 20, 30, 40, 50]
 lst_sum = 0
 for i in lst:
	lst_sum += i
print(lst_sum)

150

In [ ]:

exam_st_date = (11, 12, 2014)

day, month, year = exam_st_date

print("The examination will start on: {}/{}/{}".format(day, month, year))

The examination will start on: 11/12/2014

In [ ]:

numbers = [10, 23, 45, 68, 90, 121, 150, 200]


for num in numbers:
    if num % 5 == 0:
        print(num)

10
45
90
150
200

In [ ]:

number = int(input("Enter the number:"))
is_even = (number % 2 == 0)
is_odd = (number % 2 != 0)

if is_even:
    print(f"The number {number} is even.")
elif is_odd:
    print(f"The number {number} is odd.")

Enter the number:4
The number 4 is even.

In [ ]:

given_string = "Emma is a common name. Emma loves programming. Emma is also a great friend."

substring = "Emma"


count = given_string.count(substring)


print(f"The substring '{substring}' appears {count} times in the given string.")

The substring 'Emma' appears 3 times in the given string.

In [ ]:

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [10, 11, 12, 13, 14, 15, 16, 17, 18]


new_list = [num for num in list1 if num % 2 != 0] + [num for num in list2 if num % 2 == 0]

print("The new list is:", new_list)

The new list is: [1, 3, 5, 7, 9, 10, 12, 14, 16, 18]

In [ ]:
lst=[10,20,30,40,50]
lst_mult=1
for i in lst:
  lst_mult*=i
print(lst_mult)

12000000

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D[8]=8.8
'''print(D)
D.pop(2)
print(D)
if 6 in D.keys():
  print("6 is present")
else:
  print("Not present")
a=len(D)
print(a)
a=sum(D.values())
print(a)
D[3]=7.1
print(D)'''
a=D.clear()
print(D)

{}

In [ ]:
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}
'''S1.add(55)
S1.add(66)

print(S1)
S1.remove(10)
S1.remove(30)
print(S1)
res= 40 in S1
print(res)'''
a=S1.union(S2)
print(a)
b=S1.intersection(S2)
print(b)
c=S1-S2
print(c)

{70, 40, 10, 80, 50, 20, 90, 60, 30}
{40, 50, 60}
{10, 20, 30}